name: Build and Test
on: [push]
jobs:
  ubuntu:
    strategy:
      matrix:
          version: ['8.0', '8.1']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sdl2
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}
      - name: Install sdl2
        run: sudo apt install -y libsdl2-dev xvfb
      - name: Build sdl2
        run: |
          phpize
          ./configure
          make
      - name: Test sdl2
        run: |
          Xvfb :99 -screen 0 800x600x24 -ac &
          export DISPLAY=:99
          make test TESTS=tests
          killall -9 Xvfb
  windows:
    defaults:
      run:
        shell: cmd
    strategy:
      matrix:
          version: ['8.0', '8.1']
          arch: [x64]
          ts: [ts]
    runs-on: windows-latest
    steps:
      - name: Checkout sdl2
        uses: actions/checkout@v2
      - name: Setup PHP
        id: setup-php
        uses: cmb69/setup-php-sdk@v0.6
        with:
          version: ${{matrix.version}}
          arch: ${{matrix.arch}}
          ts: ${{matrix.ts}}
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.arch}}
          toolset: ${{steps.setup-php.outputs.toolset}}
      - name: "Download liblzma"
        run: |
          curl -LO https://github.com/libsdl-org/SDL/releases/download/release-2.28.1/SDL2-2.28.1-win32-x64.zip
          7z x SDL2-2.28.1-win32-x64.zip -o..\deps
      - name: Build sdl2 (phpize)
        run: phpize
      - name: Build sdl2 (configure)
        run: configure --enable-xz --with-prefix=${{steps.sdk.outputs.prefix}} --with-php-build=..\deps
      - name: Build sdl2 (nmake)
        run: nmake
      - name: test
        run: nmake test