name: Build and Test
on: [push]
jobs:
  ubuntu:
    strategy:
      matrix:
          version: ['8.0', '8.1']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sdl2
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}
      - name: Install sdl2
        run: sudo apt install -y libsdl2-dev xvfb
      - name: Build sdl2
        run: |
          phpize
          ./configure
          make
      - name: Test sdl2
        run: |
          Xvfb :99 -screen 0 800x600x24 -ac &
          export DISPLAY=:99
          make test TESTS=tests
          killall -9 Xvfb
  windows:
    defaults:
      run:
        shell: cmd
    strategy:
      matrix:
          version: ['8.0', '8.1']
    runs-on: windows-latest
    steps:
      - name: Checkout sdl2
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}
      - name: phpize
        run: phpize
      - name: configure
        run: configure --with-prefix=${{steps.setup-php.outputs.prefix}}
      - name: make
        run: nmake
      - name: test
        run: nmake test TESTS=tests