on:
  - pull_request
  - push

name: "Windows-PHP8"

jobs:

  windows-php8:
    name: "Build and Tests (Windows, PHP8)"

    defaults:
      run:
        shell: cmd

    strategy:
      fail-fast: false
      matrix:
        php: ["8.2", "8.1", "8.0"]
        arch: ["x64"] #, "x86"
        ts: ["ts", "nts"]

    runs-on: windows-2022

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Install PHP SDK ${{matrix.php}}"
        uses: codemasher/setup-php-sdk@split-file
        id: sdk
        with:
          version: ${{matrix.php}}
          arch: ${{matrix.arch}}
          ts: ${{matrix.ts}}

      - name: "phpize"
        run: phpize

      - name: "configure build"
        run: configure --enable-sdl2 --with-prefix=${{steps.sdk.outputs.prefix}}

      - name: "make"
        run: nmake

      - name: "test"
        run: nmake test

      - name: "Package"
        run: |
          md .artifact
          copy ${{steps.sdk.outputs.buildpath}}\php_sdl2.dll .artifact\php_sdl2-${{steps.sdk.outputs.file_tag}}.dll

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v3
        if: contains(github.ref_type, 'branch')
        with:
          name: php_sdl2-php8-${{github.sha}}
          path: .artifact

      - name: "Attach file to release"
        uses: softprops/action-gh-release@v1
        if: contains(github.ref_type, 'tag')
        with:
          files: .artifact\php_sdl2-${{steps.sdk.outputs.file_tag}}.dll