name: Build and Test
on: [push]
jobs:
  ubuntu:
    strategy:
      matrix:
          version: ['8.0', '8.1']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sdl2
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}
      - name: Install sdl2
        run: sudo apt install -y libsdl2-dev xvfb
      - name: Build sdl2
        run: |
          phpize
          ./configure
          make
      - name: Test sdl2
        run: |
          Xvfb :99 -screen 0 800x600x24 -ac &
          export DISPLAY=:99
          make test TESTS=tests
          killall -9 Xvfb
  windows:
    name: "Build and Tests (Windows, PHP8)"

    defaults:
      run:
        shell: cmd

    strategy:
      fail-fast: false
      matrix:
        php: ["8.2", "8.1", "8.0"]
        arch: ["x64"] #, "x86"
        ts: ["ts", "nts"]

    runs-on: windows-2022

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Install PHP SDK ${{matrix.php}}"
        uses: codemasher/setup-php-sdk@split-file
        id: sdk
        with:
          version: ${{matrix.php}}
          arch: ${{matrix.arch}}
          ts: ${{matrix.ts}}
          deps: liblzma

      - name: "phpize"
        run: phpize

      - name: "configure build"
        run: configure --enable-sdl --with-prefix=${{steps.sdk.outputs.prefix}}

      - name: "make"
        run: nmake

      - name: "test"
        run: nmake test

      - name: "Package"
        run: |
          md .artifact
          copy ${{steps.sdk.outputs.buildpath}}\php_sdl.dll .artifact\php_sdl-${{steps.sdk.outputs.file_tag}}.dll

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v3
        if: contains(github.ref_type, 'branch')
        with:
          name: php_sdl-php8-${{github.sha}}
          path: .artifact

      - name: "Attach file to release"
        uses: softprops/action-gh-release@v1
        if: contains(github.ref_type, 'tag')
        with:
          files: .artifact\php_sdl-${{steps.sdk.outputs.file_tag}}.dll